* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: rgba(250, 250, 175, 0.28);
}

h1 {
    font-family: "Lato", sans-serif;
    color: rgb(156, 44, 44);
    text-align: center;
    text-shadow: 2px black ;
    margin: 40px 0 ;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

div {
  margin: 0 auto;
}

img {
  border-radius: 15px;
  border: 1px solid rgba(255, 69, 0, 0.5);
}

/*=================== Responsiviness =================== */

@media (max-width: 780px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

@media (max-width: 480px) {
  .parent {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
