* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4ece1;
    color:#02024c
}
h1 {
    margin: 60px 0 60px 0;
    text-align: center;
}
h2 {

}
.news {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.news-links, ul {
    display: flex;
}

ul {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.news-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
}

.news-text h2, p {
    margin: 12px 0;
}

.news-links {
    display: flex;
    margin: 80px auto;
}

.news-links li {
    margin: 6px 0;
}
img {
    width: 320px;
    height: 420px;
    border-radius: 15px;
}

