* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vh;
    height: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #f4ece1;
}
h1 {
    font-family: 'Roboto', sans-serif;
    margin: 60px 0 60px 0;
    color: #02024c;
    text-align: center;
}
h2 {

}
.news {
    width: 1000px;
    height: 400px;
}

.news, ul {
    display: flex;
}

ul {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.news-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
}

.news-text h2, p {
    margin: 12px 0;
}

img {
    width: 320px;
    height: 420px;
}

